.container {
    margin: auto; /* вирівнювання по центру */
    width: 80%; /* фіксована ширина контейнера */
}

table {
    width: 100%; /* розтягнути таблицю на всю ширину батьківського контейнера */
}

td {
    padding: 5px; /* відступи між комірками таблиці */
    text-align: center; /* вирівнювання тексту всередині комірок по центру */
}
