/*button {*/
/*    font-family: monospace;*/
/*    font-size: 1.5rem;*/
/*    color: #FAFAFA;*/
/*    text-transform: uppercase;*/
/*    padding: 10px 20px;*/
/*    border-radius: 10px;*/
/*    border: 2px solid #FAFAFA;*/
/*    background: #252525;*/
/*    box-shadow: 3px 3px #fafafa;*/
/*    cursor: pointer;*/
/*    margin: 35px 0;*/
/*}*/

/*body {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

.welcome {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    font-size: 36px;
}