<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Account</title>
    <link rel="stylesheet" href="/static/css/account.css">
</head>
<body>
<header th:replace="~{fragments/header::header}"></header>
    <div class="container">
        <div th:if="${account != null}">
            <p th:text="'Name: ' + ${account.getName()}"></p>
            <p th:text="'Email: ' + ${account.getEmail()}"></p>
        </div>
        <div th:if="${products != null && products.size() > 0}">
            <a>Your products:</a>
            <table>
                <tr>
                    <td>
                        <p>Title</p>
                    </td>
                    <td>
                        <p>Price</p>
                    </td>
                    <td>
                        <p>Description</p>
                    </td>
                </tr>
                <tr th:each="product : ${products}" >
                    <td>
                        <a th:if="${product.isActive()}" th:text="${product.getTitle()}" th:href="@{'/products/' + ${product.getId()}}"></a>
                        <p th:if="${!product.isActive()}" th:text="${product.getTitle()}" ></p>
                    </td>
                    <td>
                        <a th:if="${product.isActive()}" th:text="${product.getPrice()}" th:href="@{'/products/' + ${product.getId()}}"></a>
                        <p th:if="${!product.isActive()}" th:text="${product.getPrice()}" ></p>
                    </td>
                    <td>
                        <a th:if="${product.isActive()}" th:text="${product.getDescription()}" th:href="@{'/products/' + ${product.getId()}}"></a>
                        <p th:if="${!product.isActive()}" th:text="${product.getDescription()}" ></p>
                    </td>
                    <td th:if="${!product.isActive()}">
                        <div  th:text="'SOLD'"></div>
                    </td>
                </tr>
            </table>
        </div>
        <div th:if="${bought != null && bought.size() > 0}">
            <a>Bought products:</a>
            <table>
                <tr>
                    <td>
                        <p>Title</p>
                    </td>
                    <td>
                        <p>Price</p>
                    </td>
                    <td>
                        <p>Description</p>
                    </td>
                </tr>
                <tr th:each="prod : ${bought}" >
                    <td>
                        <p th:text="${prod.getTitle()}"></p>
                    </td>
                    <td>
                        <p th:text="${prod.getPrice()}"></p>
                    </td>
                    <td>
                        <p th:text="${prod.getDescription()}"></p>
                    </td>
                </tr>
            </table>
        </div>
    </div>
<footer th:replace="~{fragments/footer::footer}"></footer>
</body>
</html>