<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:if="${product != null}" th:text="${product.getId()}"></title>
    <title th:if="${product == null}" th:text="'Not found'"></title>
</head>
<body>
<header th:replace="~{fragments/header::header}"></header>
  <main>
      <p th:if="${exception}" th:text="${exception.getMessage()}"></p>
      <p th:if="${deleted}" th:text="'Product deleted'"></p>
      <table th:if="${product != null && exception == null}">
          <tr>
              <td >
                  <p>Title</p>
              </td>
              <td>
                  <p>Description</p>
              </td>
              <td>
                  <p>Price</p>
              </td>
          </tr>
          <tr>
              <td >
                  <a th:text="${product.getTitle()}"></a>
              </td>
              <td>
                  <a th:text="${product.getDescription()}"></a>
              </td>
              <td>
                  <a th:text="${product.getPrice()}"></a>
              </td>
          </tr>
      </table>

      <div th:if="${(account == null && product != null) || (product != null && account != null && !account.getId().equals(product?.getSeller().getId()))}">
          <form th:action="'/buy-product/' + ${product.getId()}">
              <input type="submit" value="Buy" />
          </form>
<!--          -->
<!--          <div th:if="${account == null || (account != null && !cart)}">-->
              <form th:if="${account == null || (account != null && !cart)}" th:action="'/cart/add/' + ${product.getId()}" th:method="post">
                  <input type="submit" value="Add to cart" />
              </form>
              <form th:if="${account != null && cart}" th:action="'/cart'" th:method="get">
                  <input type="submit" value="Already in cart"/>
              </form>
<!--          </div>-->
      </div>

      <div th:if="${product != null && !product.isActive()}">
          <p>
              SOLD
          </p>
      </div>
      <div th:if="${account != null && account.getId().equals(product?.getSeller().getId())}">
          <div th:if="${delete != null}">
              <p>You sure you want to delete this product?</p>
              <form th:action="'/products/' + ${product.getId()} + '/delete'" th:object="${product}" th:method="post">
                  <input type="submit" value="Delete product" />
              </form>
          </div>
          <form th:if="${delete == null}" th:action="'/products/' + ${product.getId()} + '/delete'" th:object="${product}" th:method="get">
              <input type="submit" value="Delete product" />
          </form>
      </div>

  </main>
<footer th:replace="~{fragments/footer::footer}"></footer></body>
</html>